body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
  
  .matrix-content {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.671);
    color: #0F0;
    font-family: 'Courier New', monospace;
  }
  
  h1 {
    font-size: 36px;
    text-align: center;
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .product-card {
    width: 30%;
    padding: 10px;
    margin: 10px 0;
    background-color: #333;
    border: 2px solid #0F0;
    border-radius: 5px;
    text-align: center;
  }
  
  .cart {
    background-color: #333;
    border: 2px solid #0F0;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
  }
  
  #cart-items {
    list-style: none;
    padding: 0;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #009933;
  }
  