body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
    font-family: 'Courier New', monospace;
  }
  
  canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
  
  .todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    min-height: 400px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.671);
    color: #0F0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #0F0;
  }
  
  .todo-list input, .todo-list button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #0F0;
    background-color: black;
    color: #0F0;
    border-radius: 3px;
  }
  
  .todo-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .todo-list li {
    margin: 5px 0;
    color: #0F0;
  }
  
  .delete-task {
    margin-left: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  